:root {
  text-align: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  gap: 1%;
  flex-wrap: wrap;
  row-gap: calc(100vw * 0.01);
}

.card {
  background-color: beige;
  height: 8rem;
  width: 24%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

/* NavBar */

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.nav-bar h1 {
  margin: 0;
}

/* Counter */

.counter {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.counter-value {
  font-size: 2rem;
}

.button-controls {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.btn {
  background-color: aqua;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

.change-input {
  width: fit-content;
}

.guess-the-number {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.telephone-formatter {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.telephone-formatter input {
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 1px solid black;
}

.light-and-dark-mode {
  text-align: left;
  padding-left: 2rem;
  height: 100vh;
  width: 100vw;
}

.container-dark-mode {
  border: 1px solid blue;
  padding: 1rem;
}

.toast-popup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 2rem;
}

.toast-popup select,
.toast-popup input {
  padding: 0.5rem;
}

.input-duration {
  display: flex;
  align-items: center;
  justify-content: center;
}

.css-shapes {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  gap: 2%;
  padding: 2%;
  row-gap: calc(100vw * 0.02);
}

.shape-box {
  width: 48%;
  height: 20rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.star {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  margin-top: 60px;
  color: red;
  border-right: 100px solid transparent;
  border-bottom: 70px solid yellowgreen;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
}
.star:before {
  position: absolute;
  top: -45px;
  left: -65px;
  display: block;
  width: 0;
  height: 0;
  border-right: 30px solid transparent;
  border-bottom: 80px solid yellowgreen;
  border-left: 30px solid transparent;
  transform: rotate(-35deg);
  content: "";
}
.star:after {
  position: absolute;
  top: 3px;
  left: -105px;
  display: block;
  width: 0px;
  height: 0px;
  color: yellowgreen;
  border-right: 100px solid transparent;
  border-bottom: 70px solid yellowgreen;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: "";
}

.heart {
  position: relative;
  width: 100px;
  height: 90px;
  margin-top: 60px;
  transform: scale(1.5);
}
.heart:before,
.heart:after {
  position: absolute;
  top: 0;
  left: 50px;
  width: 50px;
  height: 80px;
  background: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  content: "";
}
.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.loader {
  width: 125px;
  height: 125px;
  margin-top: 25px;
  border: 4px solid brown;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-radius: 50%;
  animation: loader linear 1s infinite;
}

@keyframes loader {
  100% {
    transform: rotate(306deg);
  }
}
